{% extends 'layout.html' %}
{% block content %}
<div class="container py-4">
   <h4>📋 Harvesting Program - Season: {{ season }}</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead class="table-light">
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr>
                        {% for col in columns %}
                            <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('activities.harvest_program_dashboard') }}" class="btn btn-outline-dark btn-activity">← Back</a>
</div>
{% endblock %}
